/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2017, 7:00:16 AM
    Author     : patrick
*/

.userName {
    font-size: 24px;
    font-weight:  bold;
}