/* Outer */
.simpleModal {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.5);
    overflow: auto;
}
/* Inner */
.simpleModal-inner {
    width:45%;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:5px;
    border-color: #C8C8C8;
    border-style: solid;
    border-width: 1px;
    background:#fff;
}

.simpleModal-lg {
    width: 85% !important;
}

.simpleModal-md {
    width: 50% !important;
}

.simpleModal-sm {
    width: 25% !important;
}

/* Header */
.simpleModal-title {
    padding:15px;
    position:relative;
    border-bottom-color: #C8C8C8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background:#fff;
    font-size: 1.1em;
    font-weight: bold;
}

/* Body */
.simpleModal-body{
    padding-left:40px;
    padding-right:40px;
}

/* footer */
.simpleModal-footer {
    padding:15px;
    border-top-color: #C8C8C8;
    border-top-style: solid;
    border-top-width: 1px;
    background:#fff;
}
/* Close Button */
.simpleModal-close {
    width:30px;
    height:30px;
    padding-top:4px;
    text-decoration:none;
    display:inline-block;
    position:absolute;
    top:25px;
    right:30px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    /*background:rgba(232, 232, 232,1.0);*/
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#000;
    z-index:999;
}
.simpleModal-close:hover {
    background:rgba(232, 232, 232,1.0);
    text-decoration:none;
}

@media screen and (max-width: 640px) {
    .simpleModal-inner,
    .simpleModal-lg,
    .simpleModal-md,
    .simpleModal-sm {
        width: 95% !important;
    }
    
    .simpleModal-close {
        right: 15px !important;
    }
}

